/*
COLOR PALETTE
https://coolors.co/cfdbd5-e8eddf-f5cb5c-242423-333533 */
:root {
--darkblue: rgb(19,48,102);
--pinkwhite: rgb(255,248,254);
--mediumpink: rgb(255,219,246);
--black: rgb(24,23,23);
--darkpink: rgb(215,143,189);
}
/* fonts:
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* Global Styles
-----------------------------------*/

/* Adding box model fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*** Change highlighting colour */
::selection {
    background-color: red;
}

/* typography */
h1 {
    font: 20em 'Montserrat', bold; /* setting font */
}


.blog-page {
    background-color:red;
}