/*
COLOR PALETTE
https://coolors.co/cfdbd5-e8eddf-f5cb5c-242423-333533 */
:root {
--darkblue: rgb(19,48,102);
--pinkwhite: rgb(255,248,254);
--mediumpink: rgb(255,219,246);
--black: rgb(24,23,23);
--darkpink: rgb(215,143,189);
}
/* fonts:
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* Global Styles
-----------------------------------*/

/* Adding box model fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*** Change highlighting colour */
::selection {
    background-color: var(--mediumpink);
}

/*** Disable so that some images cant be highlighted ***/
img {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}




/* typography */
h1 {
    font: 2em 'Montserrat', bold; /* setting font */
}

h2 {
    font: 1.5em 'Montserrat', bold; /* setting font */
}

h3 {
    font: italic 1em 'Montserrat', bold cursive; /* setting font */
}

body {
    color: var(--black);
    font: 1em 'Roboto', Light, sans-serif; /** Font for body */
    margin: 0 0;
}


/* links */
a {
   color: var(--black);
   text-decoration: none;
}

a:hover {
    font-weight: bold;
    font-size: 1.1em;
}



html { /*setting background photo */
    background: url(../images/mountainbg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

.box-container {
    position: relative;
    padding: 30px;
    background-color: var(--pinkwhite);
    border: 1px solid var(--black);
    margin: 4% 4%;
}

.box-container:before {
  content: " ";
  position: absolute;
  top: 7%;
  left: 5%;
  right: -5%;
  bottom: -7%;
  background-color: var(--mediumpink);
  border: 1px solid var(--black);
  z-index: -1;
}

.line-decor {
  border-left: 4px solid var(--black);
  border-right: 4px solid var(--black);
  position: relative;
  transform: rotate(-45deg);
}

.section-grid {
    margin: 0 10%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 150px 300px 100px;
    gap: 2%;
}

.section-grid h1 {
    grid-row: 1;
    grid-column: 1/3;
}

.click-for-more {
    grid-row: 3;
    grid-column: 3;
    text-align: right;
    color: var(--pinkwhite);
    text-shadow: black 3px 3px;
    font-size: 1.3em;

}

.click-for-more:hover{
    font-size: 1.5em;
}

.section-item:hover {
    margin: 0% 0%;
}




/* Header
-----------------------------------*/
header {
    min-height:800px;
}

header .box-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width:30em;
    height: 18em;
    margin-top: -10em;
    margin-left: -15em;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 30% 70%;
    grid-template-rows: 80% 20%;
}

header .box-container img{
    width: 100%;
    margin-right: 12px;
    margin-left: -5px;
    grid-column: 1;
    grid-row: 1;
}

header .box-container h1, p {
    grid-column: 2;
    grid-row: 1;
}

header .box-container nav {
    grid-column: 1/3;
    grid-row: 2;
    text-align: center;
    font-size: 130%;
}

header .line-decor {
  height: 120px;
  width:20px;
  left: -20px;
  top: -85px;
}

/* Blog
-----------------------------------*/

.blog {
    min-height: 1000px;
    padding-top: 100px;
    margin: 0 0;
    background: linear-gradient(to top, rgba(255,248,254,0.5), rgba(255,248,254,0));
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}


.blog h1 {
    font-size:6em;
    color: var(--pinkwhite);
    text-decoration: underline solid var(--black);
    grid-row: 1;
    grid-column: 1/3;
    top: 0;
    margin-block-start: 0;
}





.blog .box-container:before {
    background-color: black;
}



/* Projects
-----------------------------------*/
.projects {
    min-height:800px;
    padding: 20% 0;
    background: linear-gradient(to top, rgba(255,248,254,1), rgba(255,248,254,0.5));
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.projects h1 {
    font-size:6em;
    color: var(--darkblue);
    text-decoration: underline solid var(--black);
    grid-row: 1;
    grid-column: 1/3;
    top: 0;
    margin-block-start: 0;
}


.projects-item:first-child .line-decor {
  height: 120px;
  width:15px;
  left: -7.5%;
  top: 30%;
}


.projects-item:last-child .line-decor {
  height: 110px;
  width:15px;
  left: 100%;
  top: -55%;
}



.projects .box-container:before {
    background-color: var(--darkblue);
}


.projects-item:hover {
    margin: 0% 0%;
}

.projects h3 {
    color: var(--darkblue);
    text-shadow: white 3px 3px;
}


/* Contact
-----------------------------------*/
.contact  {
    height:230px;
    background-color: var(--pinkwhite);
    text-align: center;

}

.contact h1{
    padding-top: 2%;
        margin-block-start: 0;
}

.contact img{
    height:30px;
}

.contact-list {
    width:10%;
    margin: 2% auto;
    display: flex;
    justify-content: space-between;
    align-items: top;
}


.contact-list a:hover img {
    height:40px;
    margin-left:-2px;
    margin-top:-10px;
}



/* Media styles
-----------------------------------*/

/* 1150px and smaller */
@media screen and (max-width: 1100px) {
    .projects {
        margin: 0 4%;
    }

    .blog {
        margin: 0 4%;
    }
}

@media screen and (max-width: 900px) {
    .projects-grid {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        min-height: 100px;
    }
    .blog-grid {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
        min-height: 100px;
    }
}

@media screen and (max-width: 500px) {

    body {
        font-size: 0.8em;
    }

    header {
        min-height: 460px;
    }

    header .box-container {
        margin-left: -40%;
        margin-top: -40%;
        width: 80%;
        height: 35%;
        display: block-inline;
     }

     h1 {
        font-size: 1.4em;
     }

     .blog h1 {
        text-align: center;
        margin: 5% 0;
     }

     .projects h1 {
        text-align: center;
        margin: 5% 0;
     }

     .contact {
        margin-top: 20%;

     }

     .contact .contact-list {
        margin: 0 40%;
     }


}